body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px -1px 44px -3px rgba(0,0,0,0.51);
    padding: 20px;
    margin: 10px; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0; 
    }

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; 
}

input {
    border-radius: 5px;
    color: #333;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px; 
}


li span {
    color: #ff4d4d;
    cursor: pointer;
}
h1 {
    color: #333;
    text-align: center;
}
input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}
.gray {
    background-color: lightgray;
    text-decoration: underline;
    visibility: visible;
    transform: scaleX(1);
}
